.navbar {
    /*background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));*/
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.section {
    margin-bottom: 12px;

    &:not(:last-of-type) {
        border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    }
}

.sectionPages {
    margin-bottom: 0;
    overflow-y: hidden;

    .pages {
        height: 100%;
        padding-bottom: 26px;
    }
}

.menuItems {
    padding-bottom: 10px;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--mantine-font-size-sm);
    min-height: 34px;
    padding: 4px 10px;
    border-radius: 7px;
    font-weight: 500;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

    &:hover {
        background-color: var(--lec-hover);
        color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    }
}

.menuItemInner {
    display: flex;
    align-items: center;
    flex: 1;
}

.menuItemIcon {
    margin-right: var(--mantine-spacing-sm);
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.pages {
    padding: 0 2px 12px;
}

.pagesHeader {
    padding: 0 10px;
    margin-bottom: rem(5px);
}

.pageLink {
    display: block;
    padding: rem(8px) var(--mantine-spacing-xs);
    text-decoration: none;
    border-radius: var(--mantine-radius-sm);
    font-size: var(--mantine-font-size-xs);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    line-height: 1;
    font-weight: 500;

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    }
}

.activeButton {
    background-color: var(--lec-active);
    color: var(--lec-blue);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}
